.landing__banner{
    max-width: 1280px;
    margin: 24px auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #facc15;
    border-top: 1px solid black;
    border-bottom: 1px solid rgba(0, 0, 0, .75);
}

.hover_effect {
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
}

.hover_effect:hover .post__img{
    transform: scale(1.1);
}

.post__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.75;
}

.post__description {
    font-size: 12px;
}

.posts__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

.post__img{
    object-fit: cover;
    height: 240px;
    width: 100%;
    transition: transform 250ms ease-in-out;
}


.author__image {
    height: 48px;
    width: 48px;
    border-radius: 9999px;
}

.post_descriptors {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: white;
    height: 100px;
}


.left__banner > h1{
    font-family: serif;
    font-size: 60px;
}

@media (min-width:640px) {
    .posts__grid {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
}


@media (max-width:768px) {
    .landing__banner > img {
        display: none;
    }
    .posts__grid{
        gap: 24px;
    }
}

@media (min-width: 1024px) {
    .posts__grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
    }
}

@media (max-width:1024px) {
    .landing__banner {
        padding-top:5vmin;
        padding-bottom:5vmin ;
    }

    .landing__banner > img {
        height: 8rem;
    }

}